NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=get-from-supabase-status
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
SUPABASE_SERVICE_ROLE_KEY=get-from-supabase-start
RESEND_API_KEY=optional-for-prod
EMAIL_FROM=pulse@pulse.dev
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_API_KEY=somethingsecret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=get-from-google-oauth-client-id